@import "tailwindcss";

:root {
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 4, 1, 15;
  --primary-glow: 224, 231, 255, 0.2;
  --secondary-glow: 199, 210, 254, 0.2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: theme('colors.slate.200');
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  background-attachment: fixed;
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s ease-in-out infinite;
}

/* For bearing arrow */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
